@media screen and (max-width: 1290px)
    html
        font-size: 12px 

    .nav
        &__item
            margin-right: 1rem

    .hero 
        &__description
            font-size: 1.57rem 
            line-height: 1.5
            max-width: 34rem
            margin-bottom: 2.28rem  

@media screen and (max-width: 1150px)
    .section
        &-people 
            padding-top: 25rem
            background: $dark
    .target
        display: none

    .nav
        width: 100%
        max-width: 420px 
    &__item
        margin-right: 0.5rem              
    .row
        flex-direction: column
        justify-content: center
        align-items: center
        &__people
            flex-direction: column
            
            

    .col-50
        width: 50%
        margin-right: auto 
        margin-left: auto     
    .swipe
        &-wraper
            &__image
                margin-top: 1rem
        &-slide
            &__heading
    .row
        &__people
            margin-bottom: 0
    .people
        &-card-25
            margin-bottom: 6.8rem 
        &__description
            &--company 
                color: $light 

    .section
        &-client
            padding-top: 5rem
            padding-bottom: 5rem

    .row
        &__client
            display: flex
            align-items: center
            flex-direction: column 
            padding-bottom: 15rem

    .client
        &__section
            &-title
                margin-bottom: 3rem
        &__heading
            display: none
        &-card
            margin-bottom: 5rem 

                                            
@media screen and ( max-width:  1000px)
    
    .nav
        display: none
    .hero
        &__instagram
            display: none
        &__content
            margin-left: 0

    .col-50
        width: 50%
        margin-right: auto        

    .swipe
        &-wraper
            &__image
                max-width: 100% 
    .swiper
        &-slide
            &__text
                margin-right: auto                
@media screen and ( max-width: 900px)
    .row
        flex-direction: column  
        align-items: center
        
    .card
        &__text
            margin-left: 0 
    .types
        &__card
            margin-bottom: 4.29rem   
    .col-50
        width: 60%
    .col-60
        align-items: center
        width: 70%     
    .swiper
        &-slide
            &__text
                margin-right: auto
              

@media screen and ( max-width: 760px)
    .types
        &__card
            margin-bottom: 4.29rem 
    .card
        &__text
            margin-left: 0   
    .title
        &__content
            margin-right: 0rem 
            max-width: 22.86rem 
    .swiper
        &-wraper
            &__image 
                max-width: 100% 
    .control
        background-color: $dark
        padding-bottom: 8.7rem
        &__section-title
            margin-bottom: 2.214rem
            margin-top: -20rem
        &__video
            background-size: cover
            max-width: 40.37rem
            min-height: 25rem
            margin-bottom: 3rem  
        &__text
            color: $light 
            max-width: 34.785rem
        &__form
            flex-direction: column 
        &__label
            padding-bottom: 5px
            color: rgba($light, 0.5)
        &__input
            margin-bottom: 2rem
            &::placeholder
                color: $light
        &__button
            margin: auto
            width: 60%
        &__policy-label
            color: $light
                 

@media screen and ( max-width:  620px)
    .row
        align-items: flex-end
        margin: auto
    .col-50
        width: 100%
    .col-60
        width: 100%

    .section
        &-title
            &__heading
                &--primary  
                    font-size: 1.7rem 
                    margin-bottom: 1.6rem     
            &__word
                &::after
                    display: none
            &__text
                max-width: 302px
                font-size: 1.18rem
                line-height: 1.6        
    .row
        flex-direction: column  
        align-items: center    
    .swiper
        &-slide
            &__text
                flex-basis: 42% 
                &:last-child
                    margin-bottom: 4.9rem  
            &__heading
                margin-right: 1rem
                font-weight: 500
                font-size: 1.19rem
            &__value
                font-size: 1.18rem 
                    

@media screen and ( max-width:  580px)
    .contacts
        &__phone
            color: $light
            margin-right: 1rem
        &__button
            display: none
    .title
        font-size: 2.3rem
    .hero 
        &__content
            margin-right: 0 
            margin-left: 0
            max-width: 30.86rem   
        &__description
            font-size: 1.5rem 
            line-height: 1.5
            margin-bottom: 2.28rem
        &__button 
            width: 90%  
            margin-bottom: 1.85rem
        &__button-outline
            width: 90%
            font-size: 1.1rem
            font-weight: 300
            padding: 18px 0    
        &__scroll-down
            display: none

    .design
        background: $darkbgc 

    .section
        &-people
            padding-bottom: 20rem
        &-title 
            color: $light 
        &-client
            display: none 
    .col-50
        width: 100%
   
    .col-60
        align-items: center
        margin: 0 auto
        width: 100% 
    .swiper
        &-wraper
            &__image 
                max-width: 100%
    .footer
        background: $dark
        &__title
            font-size: 1.67rem
            margin-bottom: 4.44rem
        &__input
            font-size: 1.53rem
            &-group
                margin-bottom: 5.37rem
                flex-basis: 100% 
                &--full-width 
                    margin-bottom: 0.5rem
        &__button
            font-size: 1.27rem
            width: 100%            
        &-menu
            display: none
        &__policy
            margin-bottom: 5.6rem

    .policy
        &__label  
            &--center
                font-size: 1.33rem
                justify-content: flex-start   

    .map
        order: -1 
        max-width: 340px
        max-height: 255px  
                                   
@media screen and ( max-height:  560px) 
    .col-50
        width: 60%
    
                       
@media screen and ( max-height:  520px)
    .hero
        &__scroll-down
            display: none       
        &__button
            min-width: 28.5rem
            margin-right: 0
            padding: 18px 38px
            font-size: 1.1rem
            margin-bottom: 2rem
    &::after
        display: none

            
@media screen and ( max-width:  420px)
    
    .menu
        justify-content: space-between
        &__contacts
           
    .logo
        &__item
            font-size: 1.08rem  
    &__contacts 
    .contacts
        margin-right: 0
        &__phone
            font-size: 1.02rem
            margin-right: 0
    .hero
        padding-bottom: 1rem
        &__content
            margin-right: 0rem  
        &__title
            font-size: 1.9rem 
            line-height: 1.4
            margin-bottom: 0.67rem
        &__description
            width: 100%
            margin: 0
            font-size: 1.5rem
            line-height: 1.4
            margin-bottom: 3rem
        &__button
            width: 100%
            margin-right: 0
            padding: 18px 38px
            font-size: 1.1rem
            margin-bottom: 2rem
        &__button-outline
            width: 100%
            margin: 0
            font-size: 1.1rem
            font-weight: 300
            padding: 18px 0
    .product
        &__position 
            padding-top: 1rem
    .section
        &-title
            &__heading
                font-size: 1.8rem
            &__image
                margin-bottom: 0.4rem   
             
    .types
        padding-top: 5rem
        &__section-title
            margin-bottom: 3rem
        &__card
            margin-bottom: 5.29rem                   
    .card
        &__text
            max-width: 22.4rem
            padding: 1.79rem 2.41rem
            margin-top: -12.2rem 
        &__title
            font-size: 1.26rem      
        &-design__pricetag
            font-weight: 300
            padding: 1.0rem 0
            padding-left: 4rem
            padding-right: 4rem
            bottom: -0.5rem
    .description
        &__heading
            max-width: 300px
            font-weight: normal
            font-size: 1.22rem
            margin-bottom: 3.2rem
    .row
        align-items: flex-end
        margin: auto
    .col-50
        width: 100%
    .col-60
        width: 100%

    .section
        &-people
            padding-bottom: 0rem
        &-client
            display: none
        &-title
            &__heading
                font-size: 1.8rem
                &--primary  
                    font-size: 1.7rem 
                    margin-bottom: 1.6rem     
            &__word
                &::after
                    display: none
            &__text
                max-width: 302px
                font-size: 1.18rem
                line-height: 1.6        
    .row
        flex-direction: column  
        align-items: center 
        &__client
            padding-bottom: 15rem   
    .swiper
        &-slide
            &__text
                flex-basis: 42% 
                &:last-child
                    margin-bottom: 4.9rem  
            &__heading
                margin-right: 1rem
                font-weight: 500
                font-size: 1.19rem
            &__value
                font-size: 1.18rem 

    .swipe
        &-wraper
            &__image
                margin-top: 2.4rem   
  
        &__control
            margin-bottom: 1.6rem
    .video__play  
        max-width: 19%      
    .control
        padding-bottom: 0
        &__video
            margin-top: 3.2rem
            min-height: 17rem
        &__text
            text-align: center
            font-size: 1.16rem
            line-height: 176%
            margin-bottom: 2rem
            &::before
                margin-bottom: 1.1rem   
        &__label
            font-size: 1.25rem
            padding-bottom: 5px
            color: rgba($light, 0.5)
        &__input
            margin-bottom: 0
            font-size: 1.5rem
            &::placeholder
                color: $light 
        &__input-group 
            margin-bottom: 4.6rem 
            &--mobile  
                margin-bottom: 0   
        &__policy
            margin-top: 0.8rem
            margin-bottom: 2rem
            &-label
                justify-content: start
                margin-bottom: 3rem
                font-size: 1.33rem 
        &__button
            margin-bottom: -1.5rem
            order: 5
            width: 100% 
    .wrap
        display: flex
        justify-content: start
    &-card-25
        width: 100%           

    .people
        &__description
            max-width: 27rem
            line-height: 1.4
            font-size: 1.25rem  
            &--company
                display: none
        &-text
            margin-left: 2rem        
    .image-people
        min-width: 305px
        height: 357px
        object-fit: cover
    .footer
        padding-bottom: 3rem
        &__wrap
            margin-top: 2rem
            margin-bottom: 1.6rem
        &__title-map  
            font-size: 1.5rem 
            max-width: 26.285rem 
        &__link
            display: flex    
        &__email-image
            margin-right: 1rem
            width: 39px
        &__instagram-image
            width: 39px  

    .container
        &-map
            order: -1
            max-width: 340px
            max-height: 255px
            &__our
                margin-bottom: 2rem


      
    
         
        
                                
    
        
        
        
        
        

                        
