*, *:before, *:after
    box-sizing: border-box
html
    font-size: 14px
    overflow-x: hidden
    
body 
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
img
    max-width: 100%

.section
    &__types
        &--light
            color: $light
    &--dark
        background: $dark
    &-title
        text-align: center
        font-family: 'Yeseva One', cursive
        text-transform: uppercase 
        &__people
            font-family: 'Futura Book', sans-serif
            font-weight: 500
            text-transform: none
            font-size: 20px
            line-height: 27px
            text-align: center
            
        &__word
            display: flex
            align-items: center
            &::after
                    content: ''
                    width: 6.42rem
                    height: 1px
                    background: $primary
                    margin-left: 2.4rem 
        &__heading
            font-size: 1.4rem
            font-weight: 500
            margin-bottom: 0.6rem
            line-height: 2.78rem
            &--primary
                color: $primary
                font-weight: 500
                font-size: 1.74rem 
            &--primary
                color: $primary
            &--darken    
                color: $dark
            &__word
                display: block        
        &__target
            font-size: 1.92rem
            font-weight: 500
            line-height: 2.78rem
            margin-bottom: 5.7rem
            &--type
                display: flex
                align-items: center
                &::after
                    content: ''
                    width: 6.42rem
                    height: 1px
                    background: $primary
                    margin-left: 6.4rem 
        &__text
            font-family: 'Futura Book', sans-serif
            font-size: 1.28rem
            line-height: 2.07rem
            font-weight: 500
            color: $light
            text-transform: none 
            max-width: 442px
            margin-bottom: 2rem    
        &--left
            text-align: left 
        &--light
               font-weight: 500
               color: $light                     
        &__image
            display: flex
            justify-content: center
            align-items: center
            &::before, &::after
                content: ''
                width: 32px
                height: 2px
                background-color: $primary
                margin: 0 10px
        &__subheading 
            font-family: 'Yeseva One', cursive
            color: $primary
            text-transform: uppercase
            font-size: 1.07rem
            font-weight: 500
            text-align: left
            margin-bottom: 0.68rem
            line-height: 1.74rem 
        &__tagetword
            display: block 
        &__number
            display: inline-block
            margin: 0
            padding: 0
            color: $light
        &__numslide  
            display: block
            font-family: 'Yeseva One', cursive
            font-weight: 500
            font-size: 1.28rem
            line-height: 1.78rem
            margin-bottom: 1.3rem
            color: $light
            text-transform: uppercase 
        &__uptitle    
            color: $light
            font-size: 0.95rem
            font-weight: 500
        &__description
            padding: 0
            margin: 0
            font-family: 'Futura Book', sans-serif
            color: $light
            font-weight: 500
            line-height: 1.82rem
            font-size: 1.06rem
            max-width: 337px
            margin-bottom: 0.85rem
        &__description2 
            padding: 0
            margin: 0
            font-family: 'Futura Book', sans-serif
            color: $light
            font-weight: 500
            line-height: 1.78rem
            font-size: 1.06rem
            max-width: 290px
            margin-bottom: 6.6rem

    
             
                      



