*, *:before, *:after
    box-sizing: border-box
html
    font-size: 14px
body 
    font-family: 'Futura Book', sans-serif
    font-size: 1rem
img
    max-width: 100%

.section
    &--dark
        background: $dark
    &-title
        text-align: center
        font-family: 'Yeseva One', cursive
        text-transform: uppercase     
        &__heading
            line-height: 1.78rem
            &--primary
            color: $primary
            font-weight: 500
            font-size: 1.4rem 
            &--primary
                color: $primary
        &__word
            display: flex
            align-items: center
            &::after
                content: ''
                width: 6.42rem
                height: 2px
                background: $primary
                margin-left: 2rem
        &__text
            font-size: 1.28rem
            line-height: 2.07rem
            font-weight: 500
            color: $light
            text-transform: none     
        &--left
            text-align: left              
        &__image
            display: flex
            justify-content: center
            align-items: center
            &::before, &::after
                content: ''
                width: 32px
                height: 2px
                background-color: $primary
                margin: 0 10px
                
                

