
.arrow-up
    position: fixed
    display: flex
    justify-content: center
    z-index: 99
    left: 50px
    bottom: 50px
    width: 120px
    color: #333333
    line-height: 30px
    border-radius: 5px
    text-decoration: none
    text-transform: uppercase
    font-family: 'Futura Demi', sans-serif
    font-size: 0.93rem 
    border: none
    outline: none  
    background-color: $primary
    color: $light
    opacity: 0.7
    box-shadow: 0px 5px 15px rgba($primary, 0.2)
    cursor: pointer

    


   
