.description
    &__heading
        display: inline-block
        min-width: 742px
        text-transform: none
        font-family: 'Futura Book', sans-serif
        font-size: 1.42rem
        margin-bottom: 2rem