.target
    margin-top: -159px
    padding-bottom: 5rem
    margin-bottom: 3rem
    
.col-30
    &--right
        margin-right: 100px
.col-70
    margin-top: 85px

.swiper 
    &-pagination
        &-bullet
            background-color: rgba($light, 0.3)
            &-active
                background-color: $light
    &-button
        &-prev2, &-next2
            display: flex
            bottom: 0
            top: auto
            background-size: 42px
            width: 42px
            height: 14px
            &::after
                display: none
        &-prev2
            background: url(../img/arrow-prev.svg) no-repeat center
            left: -1px 
        &-next2
            background: url(../img/arrow-next.svg) no-repeat center          
.swiper-scrollbar
    background: none 
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
    margin: 0 10px
.swiper-container-horizontal>.swiper-pagination-bullets
    width: auto
    bottom: 1px                 

.slide
    display: flex
    flex-wrap: wrap
    list-style: none
    align-items: center
    justify-content: space-between
    margin: 0
    padding: 0
    &-list
        margin-bottom: 3rem
        flex-basis: 30%
        &__words
            display: block
        &__number
            display: inline-block
            font-family: 'Yeseva One', cursive
            font-size: 1.07rem
            line-height: 1.5rem
            border-bottom: 1px solid $light
            margin-bottom: 0.7rem
        &__link
            text-decoration: none
        &__text
            color: $light
            font-family: 'Futura Book', sans-serif
            font-weight: 500
            font-size: 1.0rem
            line-height: 1.28rem 
        &__header
            margin: 0
            font-size: 1.07rem  
            line-height: 1.28rem 
            font-weight: 500 
            font-family: 'Futura Book', sans-serif
    
           
        

    